body{
    background-image: url('../Pictures/dis.jpg');
    color:black;
}

.mk{
    margin-top:10px;
}

.way{
    height:35em;
}

.ok{
    margin-bottom: 7%;
}

.hj{
    margin-top: 10px;
}
